# WordPress
web/wp

# WP-CLI
db-sync
*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/mu-plugins/register-theme-directory.php
web/app/cache
web/app/advanced-cache.php

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
private

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
provision
Vagrantfile
vvv-hosts
vvv-init.sh
vvv-nginx.conf